body {
    font-family: sans-serif;
    width: 700px;
    margin: auto;
    padding-top: 20px;
}

h1 {
    text-align: center;
}

.box {
    border: 1px solid #aaa;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
}

button {
    margin: 5px;
    padding: 7px 15px;
}

input {
    padding: 5px;
}

/* ---------------- Visualization ---------------- */

#visual {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px 0;
}

.num-box {
    padding: 12px;
    min-width: 45px;
    border: 2px solid #333;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    transition: background 0.15s, transform 0.15s;
}

/* สีแสดงสถานะ */
.compare {
    background: yellow;
}

.swap {
    background: red;
    color: white;
}

.done {
    background: lightgreen;
}
